.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px 10px;

  justify-content: space-around;
  
  max-width: 1440px;
  
  margin: auto;
  padding: 40px 60px;
}
